{
	"printWidth": 100,
	"htmlWhitespaceSensitivity": "strict",
	"jsxBracketSameLine": true,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "all",
	"proseWrap": "preserve",
	"arrowParens": "avoid"
}